.filterText{
    float: left;
    padding-left: 0px;
    margin-left: 0px; 
}
.page-item{
    color: #5887ed;
}
.header{
    color: #1a3c59;
}
.favourite{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.normal{
   background-color: #f1f1f1;
}

.pageSize{
    padding-left: 0px;
}